body {
    font-family: 'Ubuntu Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0 10px; /* Add some padding for small screens */
}

.game-container {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

#game-mode-selection {
    margin-bottom: 20px;
}

#game-mode-selection p {
    max-width: 600px; /* Adjust this value as needed */
    margin: 0 auto;
    line-height: 1.6; /* Improve readability */
}

.colors {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.color-box {
    width: 100px;
    height: 100px;
    border: 1px solid #000;
}

.moves-list {
    margin-bottom: 20px;
    max-height: 30vh; /* Maximum height of 30% of the screen height */
    overflow-y: auto; /* Scrollbar if content exceeds the maximum height */
}

#moves {
    min-height: 2em; /* Minimum height of two lines */
    list-style-position: inside; /* Ensures list numbers are inside the container */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
}

.input-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.input-row {
    display: flex;
    align-items: center;
    gap: 10px;
}

.input-section input {
    width: 50px;
}

#move-counter {
    margin-top: 10px;
    font-weight: bold;
}

button, input {
    font-family: 'Ubuntu Sans', sans-serif;
}
